@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.blue {
    color: #5498D1
}

.orange {
    color: #F0AF5A
}

.violet {
    color: #6436A3
}

.marron {
    color: #d18254
}

.vert {
    color: #99D154
}

.rouge {
    color: #d1545a
}

.blue_back {
    background-color: #5498D1;
}

.orange_back {
    background-color: #F0AF5A;
}

.violet_back {
    background-color: #6436A3;
}

.marron_back {
    background-color: #d18254;
}

.vert_back {
    background-color: #99D154;
}

.rouge_back {
    background-color: #d1545a;
}

.text_bold {
    color: #000000;
    font-weight: bold
}